<section class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h1>Nuevo/Editar empleado</h1>
      <br>

    </div>
  </div>

  <div class="container">
    <!--    <ul class="nav justify-content-end">-->
    <!--      <li class="nav-item">-->
    <!--        <button type="button" class="btn btn-light"><i class="bi bi-plus"></i> Nuevo Empleado</button>-->
    <!--      </li>-->
    <!--    </ul>-->

    <form id="form_empleado">
      <div class="form-group row">
        <label for="in_codigo" class="col-sm-2 col-form-label">Código</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="in_codigo" placeholder="Código">
        </div>
      </div>

      <div class="form-group row">
        <label for="in_apepat" class="col-sm-2 col-form-label">Ap. Paterno</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="in_apepat" placeholder="Apellido Paterno">
        </div>
      </div>

      <div class="form-group row">
        <label for="in_apemat" class="col-sm-2 col-form-label">Ap. Materno</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="in_apemat" placeholder="Apellido Materno">
        </div>
      </div>

      <div class="form-group row">
        <label for="in_cargo" class="col-sm-2 col-form-label">Cargo</label>
        <div class="col-sm-10">
          <select class="form-control" id="in_cargo">
            <option>Doctor</option>
            <option>Gerente</option>
            <option>Personal de limpieza</option>
            <option>Personal de seguridad</option>
            <option>Contador</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10" style="text-align: center">
          <button type="submit" class="btn btn-primary">Grabar</button>
        </div>
      </div>

    </form>
  </div>
</section><!-- End Breadcrumbs Section -->
