<!-- ======= Breadcrumbs Section ======= -->
<section class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h2>Servicios</h2>
    </div>
  </div>
</section><!-- End Breadcrumbs Section -->

<section class="inner-page">

    <!-- ======= Services Section ======= -->
    <div id="services" class="services">
      <div class="container">


        <div class="intro">
          <p>Contamos con un equipo profesional calificado y con amplia experiencia, conformado por psicólogas y psicólogos. Nuestra modalidad de trabajo se basa en los principios de atención integral y de calidad, así como de absoluta reserva; dentro del marco de la psicología actual y moderna, motivo de consulta y área de atención.</p>
          <p>Está dirigido a niños, niñas y adolescentes, jóvenes, adultos, parejas y familias. Así mismo, Centro Psicológico Super-Arte brinda asesoría especializada a colegios, realizando escuelas de familia, de padres y maestros.</p>
          <p>Nuestro centro cuenta con la infraestructura idónea y accesible, además de todo ello nuestra atención se lleva en condiciones óptimas para que su experiencia sea lo más eficaz y eficiente posible.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-children"></i></div>
              <h4><a href="">Terapia para niños/as y adolescentes</a></h4>
              <!-- <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p> -->
              <p></p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-person-cane"></i></div>
              <h4><a href="">Terapia para adultos y adultos mayores</a></h4>
              <!-- <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p> -->
              <p></p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-people-roof"></i></div>
              <h4><a href="">Terapia para familias</a></h4>
              <!-- <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p> -->
              <p></p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-hands-asl-interpreting"></i></div>
              <h4><a href="">Terapia de lenguaje</a></h4>
              <!-- <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p> -->
              <p></p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-compass"></i></div>
              <h4><a href="">Programa de orientación vocacional</a></h4>
              <!-- <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p> -->
              <p></p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-check-double"></i></div>
              <h4><a href="">Evaluaciones psicológicas</a></h4>
              <p></p>
              <!-- <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p> -->
            </div>
          </div>

        </div>

      </div>
    </div><!-- End Services Section -->

</section>
