<!-- ======= Breadcrumbs Section ======= -->
<section class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h2>Servicios</h2>
    </div>
  </div>
</section><!-- End Breadcrumbs Section -->

<section class="inner-page">

    <!-- ======= Services Section ======= -->
    <div id="services" class="services">
      <div class="container">


        <div class="intro">
          <p>Contamos con un equipo profesional calificado y con amplia experiencia, conformado por psicólogas y psicólogos. Nuestra modalidad de trabajo se basa en los principios de atención integral y de calidad, así como de absoluta reserva; dentro del marco de la psicología actual y moderna, motivo de consulta y área de atención.</p>
          <p>Está dirigido a niños, niñas y adolescentes, jóvenes, adultos, parejas y familias. Así mismo, Centro Psicológico Super-Arte brinda asesoría especializada a colegios, realizando escuelas de familia, de padres y maestros.</p>
          <p>Nuestro centro cuenta con la infraestructura idónea y accesible, además de todo ello nuestra atención se lleva en condiciones óptimas para que su experiencia sea lo más eficaz y eficiente posible.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" *ngFor="let service of servicesData">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-{{service.no_Icono}}"></i></div>
              <h4><a href="">{{service.no_Servicio}}</a></h4>
              <p></p>
              <!-- <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p> -->
            </div>
          </div>
        </div>

      </div>
    </div><!-- End Services Section -->

</section>
