<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
  <div class="container">

    <div class="row">
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="content">
          <h3>¿Por qué escoger Super-Arte?</h3>
          <p>Contamos con un equipo profesional calificado y con amplia experiencia, conformado por psicólogas y psicólogos.</p>
          <p>Nuestra modalidad de trabajo se basa en los principios de atención integral y de calidad.</p>
          <div class="text-center">
            <a routerLink="quienes-somos" class="more-btn">Leer más <i class="bx bx-chevron-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-8 d-flex align-items-stretch">
        <div class="icon-boxes d-flex flex-column justify-content-center">
          <div class="row">
            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-receipt"></i>
                <h4>Misión</h4>
                <p>Brindar un servicio psicológico, integral, eficiente, ético y especializado.</p>
              </div>
            </div>
            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-cube-alt"></i>
                <h4>Visión</h4>
                <p>Ser un centro psicológico líder en salud mental.</p>
              </div>
            </div>
            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-images"></i>
                <h4>Servicios</h4>
                <p>Está dirigido a niños, niñas y adolescentes, jóvenes, adultos, parejas y familias.</p>
              </div>
            </div>
          </div>
        </div><!-- End .content-->
      </div>
    </div>

  </div>
</section><!-- End Why Us Section -->
